/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
:root {
  --mira-snackbar-row-gap: 15px;
  --mira-snackbar-x-gap: 20px;
  --mira-snackbar-y-gap: 20px;
  --mira-snackbar-width: 380px;
  --mira-snackbar-close-btn-size: 20px;
  --mira-snackbar-padding: 15px;
  --mira-snackbar-font-size: 1rem;
  --mira-snackbar-default-color: #fff;
  --mira-snackbar-default-background: #3d3d3d;
  --mira-snackbar-btn-default-color: #fff;
  --mira-snackbar-btn-default-background: rgba(255, 255, 255, 0.2);
  --mira-snackbar-popup-color: #111111;
  --mira-snackbar-popup-close-btn-color: #333;
}

.mira-snackbar-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--mira-snackbar-row-gap);
  width: 100%;
}

.mira-snackbar-list:empty {
  display: none;
}

.mira-snackbar-list--static {
  position: static;
}

.mira-snackbar-list--fixed {
  position: fixed;
  z-index: 10000;
}

.mira-snackbar-list--sticky {
  position: sticky;
}

.mira-snackbar-list--fixed.mira-snackbar-list--left {
  left: var(--mira-snackbar-x-gap);
  max-width: var(--mira-snackbar-width);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--left {
    left: 0;
  }
}

.mira-snackbar-list--fixed.mira-snackbar-list--right {
  right: var(--mira-snackbar-x-gap);
  max-width: var(--mira-snackbar-width);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--right {
    right: 0;
  }
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--left,
  .mira-snackbar-list--fixed.mira-snackbar-list--right {
    max-width: 100%;
  }
}

.mira-snackbar-list--fullwidth {
  --mira-snackbar-close-btn-y: 10px;
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth {
  width: 100%;
}

.mira-snackbar-list--fixed.mira-snackbar-list--top {
  top: var(--mira-snackbar-y-gap);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--top {
    top: 0;
  }
}

.mira-snackbar-list--fixed.mira-snackbar-list--bot {
  bottom: var(--mira-snackbar-y-gap);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--bot {
    bottom: 0;
  }
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth.mira-snackbar-list--top {
  top: 0;
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth.mira-snackbar-list--bot {
  bottom: 0;
}

.mira-snackbar-list--sticky.mira-snackbar-list--top {
  top: 0;
}

.mira-snackbar-list--sticky.mira-snackbar-list--bot {
  bottom: 0;
}

.mira-snackbar {
  display: grid;
  position: relative;
  font-size: var(--mira-snackbar-font-size);
  color: var(--mira-snackbar-default-color);
  background-color: var(--mira-snackbar-default-background);
  line-height: 1.2em;
  transition-duration: 0.15s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.mira-snackbar-list--fullwidth .mira-snackbar--closed {
  opacity: 0;
}

.mira-snackbar-list--left .mira-snackbar--closed,
.mira-snackbar-list--right .mira-snackbar--closed {
  opacity: 0;
  transform: scale(0.95);
}

.mira-snackbar-list--fixed .mira-snackbar {
  box-shadow: 1px 1px 7px 1px #0000004a;
}

.mira-snackbar-list--left .mira-snackbar,
.mira-snackbar-list--right .mira-snackbar {
  grid-template-columns: 1fr;
  padding: calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 3)
    calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 3)
    var(--mira-snackbar-padding) var(--mira-snackbar-padding);
}

.mira-snackbar-list--fullwidth .mira-snackbar {
  grid-template-columns: 1fr auto;
  padding: calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 5)
    var(--mira-snackbar-padding)
    calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 5)
    var(--mira-snackbar-padding);
}

.mira-snackbar--align-left .mira-snackbar__inner {
  grid-template-columns: auto auto;
  justify-content: start;
}

.mira-snackbar--align-center .mira-snackbar__inner {
  grid-template-columns: auto auto;
  justify-content: center;
}

.mira-snackbar--align-right .mira-snackbar__inner {
  grid-template-columns: auto auto;
  justify-content: end;
}

.mira-snackbar--align-fullwidth .mira-snackbar__inner {
  grid-template-columns: 1fr auto;
}

.mira-snackbar-list--fullwidth .mira-snackbar__inner {
  display: grid;
  align-items: center;
}

@media (max-width: 767px) {
  .mira-snackbar-list--fullwidth .mira-snackbar__inner {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.mira-snackbar-list--left .mira-snackbar__content,
.mira-snackbar-list--right .mira-snackbar__content {
  padding: 5px 15px 5px 5px;
}

.mira-snackbar-list--left
  .mira-snackbar__inner:not(:only-child)
  .mira-snackbar__content,
.mira-snackbar-list--right
  .mira-snackbar__inner:not(:only-child)
  .mira-snackbar__content {
  margin: -5px 0 0 0;
  padding-top: 0;
}

.mira-snackbar-list--fullwidth
  .mira-snackbar--align-center
  .mira-snackbar__inner:not(:only-child)
  .mira-snackbar__content {
  padding: 0 0 0 20px;
}

@media (max-width: 767px) {
  .mira-snackbar-list--fullwidth
    .mira-snackbar__inner:not(:only-child)
    .mira-snackbar__content {
    padding: 0;
  }
}

.mira-snackbar__close {
  justify-self: end;
  order: -1;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 0;
  height: var(--mira-snackbar-close-btn-size);
  width: var(--mira-snackbar-close-btn-size);
  font-size: var(--mira-snackbar-close-btn-size);
  transition: opacity 170ms;
}

.mira-snackbar-list--fullwidth .mira-snackbar__close {
  order: 2;
}

.mira-snackbar__close:hover {
  opacity: 0.8;
}

.mira-snackbar-list--left .mira-snackbar__actions,
.mira-snackbar-list--right .mira-snackbar__actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 0;
}

@media (max-width: 767px) {
  .mira-snackbar-list--fullwidth .mira-snackbar__actions {
    text-align: right;
  }
  .mira-snackbar-list--fullwidth
    .mira-snackbar__inner:not(:only-child)
    .mira-snackbar__actions {
    margin-right: calc(-1 * var(--mira-snackbar-close-btn-size));
  }
}

.mira-snackbar__btn {
  display: inline-block;
  cursor: pointer;
  background-color: var(--mira-snackbar-btn-default-background);
  color: var(--mira-snackbar-btn-default-color);
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  min-width: 100px;
  transition: opacity 150ms;
}

.mira-snackbar__btn:hover {
  text-decoration: none;
  opacity: 0.85;
  color: currentColor;
}

.mira-snackbar-list--fullwidth .mira-snackbar__btn {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .mira-snackbar-list--fullwidth .mira-snackbar__btn {
    margin-left: 0;
  }
}

.mira-snackbar .dashicons {
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}

/*
*  popup
*/
.mira-snackbar-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  z-index: 999;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 60px 15px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 600ms;
  box-sizing: border-box;
  color: var(--mira-snackbar-popup-color);
}

.mira-snackbar-popup--showed {
  opacity: 1;
}

.mira-snackbar-popup__inner {
  position: relative;
  width: 100%;
  max-width: 900px;
  background-color: white;
  padding: 40px 30px 50px;
  margin: auto;
}

@media (max-width: 560px) {
  .mira-snackbar-popup__inner {
    padding: 40px 20px;
  }
}

.mira-snackbar-popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 26px;
  height: 26px;
  opacity: 0.3;
  padding: 0;
  background: transparent;
  margin: 0;
  cursor: pointer;
}

.mira-snackbar-popup__close:before,
.mira-snackbar-popup__close:after {
  position: absolute;
  left: 12px;
  top: 0;
  content: " ";
  height: 24px;
  width: 2px;
  background-color: #333;
}

.mira-snackbar-popup__close:before {
  transform: rotate(45deg);
}

.mira-snackbar-popup__close:after {
  transform: rotate(-45deg);
}

.mira-snackbar-popup__close:hover {
  opacity: 1;
}
