/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
:root {
  --mira-snackbar-row-gap: 15px;
  --mira-snackbar-x-gap: 20px;
  --mira-snackbar-y-gap: 20px;
  --mira-snackbar-width: 380px;
  --mira-snackbar-close-btn-size: 20px;
  --mira-snackbar-padding: 15px;
  --mira-snackbar-font-size: 1rem;
  --mira-snackbar-default-color: #fff;
  --mira-snackbar-default-background: #3d3d3d;
  --mira-snackbar-btn-default-color: #fff;
  --mira-snackbar-btn-default-background: rgba(255, 255, 255, 0.2);
}

.mira-snackbar-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--mira-snackbar-row-gap);
  width: 100%;
}

.mira-snackbar-list:empty {
  display: none;
}

.mira-snackbar-list--static {
  position: static;
}

.mira-snackbar-list--fixed {
  position: fixed;
  z-index: 999;
}

.mira-snackbar-list--sticky {
  position: sticky;
}

.mira-snackbar-list--fixed.mira-snackbar-list--left {
  left: var(--mira-snackbar-x-gap);
  max-width: var(--mira-snackbar-width);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--left {
    left: 0;
  }
}

.mira-snackbar-list--fixed.mira-snackbar-list--right {
  right: var(--mira-snackbar-x-gap);
  max-width: var(--mira-snackbar-width);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--right {
    right: 0;
  }
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--left,
  .mira-snackbar-list--fixed.mira-snackbar-list--right {
    max-width: 100%;
  }
}

.mira-snackbar-list--fullwidth {
  --mira-snackbar-close-btn-y: 10px;
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth {
  width: 100%;
}

.mira-snackbar-list--fixed.mira-snackbar-list--top {
  top: var(--mira-snackbar-y-gap);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--top {
    top: 0;
  }
}

.mira-snackbar-list--fixed.mira-snackbar-list--bot {
  bottom: var(--mira-snackbar-y-gap);
}

@media (max-width: 560px) {
  .mira-snackbar-list--fixed.mira-snackbar-list--bot {
    bottom: 0;
  }
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth.mira-snackbar-list--top {
  top: 0;
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth.mira-snackbar-list--bot {
  bottom: 0;
}

.mira-snackbar-list--sticky.mira-snackbar-list--top {
  top: 0;
}

.mira-snackbar-list--sticky.mira-snackbar-list--bot {
  bottom: 0;
}

.mira-snackbar {
  display: grid;
  position: relative;
  font-size: var(--mira-snackbar-font-size);
  color: var(--mira-snackbar-default-color);
  background-color: var(--mira-snackbar-default-background);
  line-height: 1.2em;
  transition-duration: 0.15s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.mira-snackbar-list--fullwidth .mira-snackbar--closed {
  opacity: 0;
}

.mira-snackbar-list--left .mira-snackbar--closed,
.mira-snackbar-list--right .mira-snackbar--closed {
  opacity: 0;
  transform: scale(0.95);
}

.mira-snackbar-list--fixed .mira-snackbar {
  box-shadow: 1px 1px 7px 1px #adadad;
}

.mira-snackbar-list--left .mira-snackbar,
.mira-snackbar-list--right .mira-snackbar {
  grid-template-columns: 1fr;
  padding: calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 3)
    calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 3)
    var(--mira-snackbar-padding) var(--mira-snackbar-padding);
}

.mira-snackbar-list--fullwidth .mira-snackbar {
  text-align: center;
  grid-template-columns: 1fr auto;
  padding: calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 5)
    var(--mira-snackbar-padding)
    calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 5)
    var(--mira-snackbar-padding);
}

.mira-snackbar-list--left .mira-snackbar__inner,
.mira-snackbar-list--right .mira-snackbar__inner {
}

.mira-snackbar-list--fullwidth .mira-snackbar__inner {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: center;
}

@media (max-width: 767px) {
  .mira-snackbar-list--fullwidth .mira-snackbar__inner {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.mira-snackbar-list--left .mira-snackbar__content,
.mira-snackbar-list--right .mira-snackbar__content {
  padding: 5px 15px 5px 5px;
}

.mira-snackbar-list--left
  .mira-snackbar__inner:not(:only-child)
  .mira-snackbar__content,
.mira-snackbar-list--right
  .mira-snackbar__inner:not(:only-child)
  .mira-snackbar__content {
  margin: -5px 0 0 0;
  padding-top: 0;
}

.mira-snackbar-list--fullwidth
  .mira-snackbar__inner:not(:only-child)
  .mira-snackbar__content {
  padding: 0 0 0 20px;
}

.mira-snackbar__close {
  justify-self: end;
  order: -1;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 0;
  height: var(--mira-snackbar-close-btn-size);
  width: var(--mira-snackbar-close-btn-size);
  font-size: var(--mira-snackbar-close-btn-size);
  transition: opacity 170ms;
}

.mira-snackbar-list--fullwidth .mira-snackbar__close {
  order: 2;
}

.mira-snackbar__close:hover {
  opacity: 0.8;
}

.mira-snackbar-list--left .mira-snackbar__actions,
.mira-snackbar-list--right .mira-snackbar__actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 0;
}

.mira-snackbar__btn {
  display: inline-block;
  background-color: var(--mira-snackbar-btn-default-background);
  color: var(--mira-snackbar-btn-default-color);
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  min-width: 100px;
  transition: opacity 150ms;
}

.mira-snackbar__btn:hover {
  text-decoration: none;
  opacity: 0.85;
}

.mira-snackbar-list--fullwidth .mira-snackbar__btn {
  margin-left: 15px;
}

.mira-snackbar .dashicons {
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}
