/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
:root {
  --mira-snackbar-row-gap: 15px;
  --mira-snackbar-x-gap: 20px;
  --mira-snackbar-y-gap: 20px;
  --mira-snackbar-width: 380px;
  --mira-snackbar-close-btn-size: 20px;
  --mira-snackbar-close-btn-x: 15px;
  --mira-snackbar-close-btn-y: 15px;
  --mira-snackbar-padding: 15px;
  --mira-snackbar-font-size: 1rem;
  --mira-snackbar-default-color: #fff;
  --mira-snackbar-default-background: #3d3d3d;
}

.mira-snackbar-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--mira-snackbar-row-gap);
  width: 100%;
}

.mira-snackbar-list--static {
  position: static;
}

.mira-snackbar-list--fixed {
  position: fixed;
  z-index: 999;
}

.mira-snackbar-list--sticky {
  position: sticky;
}

.mira-snackbar-list--fixed.mira-snackbar-list--left {
  left: var(--mira-snackbar-x-gap);
  max-width: var(--mira-snackbar-width);
}

.mira-snackbar-list--fixed.mira-snackbar-list--right {
  right: var(--mira-snackbar-x-gap);
  max-width: var(--mira-snackbar-width);
}

.mira-snackbar-list--fullwidth {
  --mira-snackbar-close-btn-y: 10px;
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth {
  width: 100%;
}

.mira-snackbar-list--fixed.mira-snackbar-list--top {
  top: var(--mira-snackbar-y-gap);
}

.mira-snackbar-list--fixed.mira-snackbar-list--bot {
  bottom: var(--mira-snackbar-y-gap);
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth.mira-snackbar-list--top {
  top: 0;
}

.mira-snackbar-list--fixed.mira-snackbar-list--fullwidth.mira-snackbar-list--bot {
  bottom: 0;
}

.mira-snackbar-list--sticky.mira-snackbar-list--top {
  top: 0;
}

.mira-snackbar-list--sticky.mira-snackbar-list--bot {
  bottom: 0;
}

.mira-snackbar {
  position: relative;
  font-size: var(--mira-snackbar-font-size);
  color: var(--mira-snackbar-default-color);
  background-color: var(--mira-snackbar-default-background);
  line-height: 1.2em;
  padding: var(--mira-snackbar-padding)
    calc(
      var(--mira-snackbar-padding) + var(--mira-snackbar-close-btn-size) +
        var(--mira-snackbar-padding) / 3
    )
    var(--mira-snackbar-padding) var(--mira-snackbar-padding);
}

.mira-snackbar-list--fixed .mira-snackbar {
  box-shadow: 1px 1px 7px 1px #adadad;
}

.mira-snackbar-list--fullwidth .mira-snackbar {
  text-align: center;
  padding: calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 3)
    calc(
      var(--mira-snackbar-padding) + var(--mira-snackbar-close-btn-size) +
        var(--mira-snackbar-padding) / 3
    )
    calc(var(--mira-snackbar-padding) - var(--mira-snackbar-padding) / 3)
    var(--mira-snackbar-padding);
}

.mira-snackbar__close {
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 0;
  position: absolute;
  height: var(--mira-snackbar-close-btn-size);
  width: var(--mira-snackbar-close-btn-size);
  right: var(--mira-snackbar-close-btn-x);
  top: var(--mira-snackbar-close-btn-y);
  font-size: var(--mira-snackbar-close-btn-size);
  transition: opacity 170ms;
}

.mira-snackbar__close:hover {
  opacity: 0.8;
}

.mira-snackbar .dashicons {
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}
